.title {
    color: #860111;
    font-size: larger;
    font-weight: bold;
}
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 320px;
  }

  .photo-section {
    height: 320px;
  }

  .badge {
    font-size: 1em;
  }

  .checked {
    color: orange;
  }

  .like-selected {
      color: orange;
  }

  .like-unselected {
      color: rgb(110, 118, 125);
  }

  .star-text {
    font-size: 1em;
    font-weight: bold;
  }